[submodule "ps-lite"]
	path = ps-lite
	url = git@github.com:dmlc/ps-lite.git
[submodule "brpc-src"]
	path = incubator-brpc
	url = git@github.com:apache/incubator-brpc.git
[submodule "libevent-src"]
	path = libevent
	url = git@github.com:libevent/libevent.git
